@import "mixins";

html
{
        body
        {
                @extend %flexbox;

                .header-title
                {
                        @extend %flexbox;

                        width: 100%;
                        height: 66px;
                        top: 0;
                        position: sticky;
                        border-radius: 0px 0px 33% 33%;

                        font-size: 32px;

                        background-color: black;
                        color: white;
                }

                .footer-menu
                {
                        @extend %flexbox;
                        justify-content: space-evenly;

                        width: 100%;
                        height: 10%;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        position: fixed;

                        .home,
                        .shop,
                        .cart,
                        .profile,
                        .menu
                        {
                                @extend %flexbox;

                                width: 55px;
                                height: 55px;
                                border: 1px solid black;
                                border-radius: 50%;

                                background-color: black;
                        }

                        i
                        {
                                font-size: 32px;
                                color: white;
                        }
                }
        }
}
